@page "/"
@inject GamesClient gamesClient

<PageTitle>Game Catalog</PageTitle>
<div class="mb-1 mt-2 -flex flex-row-reverse align-items-stretch justify-content-right">
    <a class="btn btn-primary" role="button" href="/editgame">New Game</a>
</div>
@if(games.Count() == 0)
{
    <em>Loading...</em>
}
else
{
    <table class="table table-bordered table-striped table-hover mt-3">
        <thead class="table-dark">
            <th>Id</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Release Date</th>
            <th></th>
        </thead>
        <tbody>
            @foreach(var game in games)
            {
                <tr>
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.Genre</td>
                    <td class="text-end">@game.Price.ToString("C2")</td>
                    <td>@game.ReleaseDate</td>
                    <td>
                            <a role="button" class="btn btn-primary me-2" href="/editgame/@GetGameUrl(game.Id)"><i class="bi bi-pencil"></i></a>
                    </td>
                </tr>
            }
        </tbody>
</table>
}

@code {
    //private GamesClient client = new();
    private List<GameSummary> games;
    
    protected override void OnInitialized()
    {
        games = gamesClient.GetGameSummaries();
    }

    private static string GetGameUrl(int Id)
    {
        return $"editgame/{Id}";
    }
}
